workflows/[UDIA] control de errores.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-05T11:37:23.171Z",
  "id": "yenyBTkn765DCzv9",
  "isArchived": false,
  "meta": null,
  "name": "[UDIA] control de errores",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -192,
        0
      ],
      "id": "893af795-5e25-40af-be79-81ccb8c924d3",
      "name": "When chat message received",
      "webhookId": "74da5f50-020a-4801-a3fd-2080ba7a7ff7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2d287949-f092-46f8-803d-f52a6b59a361",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "hola",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        0
      ],
      "id": "84705d15-f879-48fb-82ee-e471479061ae",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "¡Ha ocurrido un error! Te enviamos telegram"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        224,
        96
      ],
      "id": "388fa90f-aca9-4676-89c8-1ae4df1d2ec0",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "2xM3d68s8jwmGg3J"
  },
  "shared": [
    {
      "updatedAt": "2025-11-05T11:37:23.177Z",
      "createdAt": "2025-11-05T11:37:23.177Z",
      "role": "workflow:owner",
      "workflowId": "yenyBTkn765DCzv9",
      "projectId": "vToiniJTimIrXduV"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-02T18:30:25.985Z",
      "createdAt": "2025-11-02T18:30:25.985Z",
      "id": "0LCSIfnWV1L0KZSe",
      "name": "udia"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-05T11:41:50.000Z",
  "versionId": "8d4dce1b-ff7b-4572-a52c-99852df87127"
}