workflows/[UDIA] SubWF Nodos de extracción de datos con IA.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Accedo al producto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accedo al producto": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-17T08:41:07.540Z",
  "id": "E48duLZjjKGT4vLY",
  "isArchived": false,
  "meta": null,
  "name": "[UDIA] SubWF Nodos de extracción de datos con IA",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "loc"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -128,
        0
      ],
      "id": "33760005-c864-44d5-8c18-23801f1edb4f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\"loc\": \n\"https://mascotalandia.es/26--natura-diet-daily-food-12kg-pienso-para-perros-con-pollo-y-arroz.html\",\n\"image:image\": \n{\n\"image:loc\": \n\"https://mascotalandia.es/38-large_default/natura-diet-daily-food-12kg-pienso-para-perros-con-pollo-y-arroz.jpg\"\n}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        0
      ],
      "id": "88862920-a347-4793-b790-5e1eb006a417",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $json.loc }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"en-US,en;q=0.5\",\n  \"Connection\": \"keep-alive\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        256,
        0
      ],
      "id": "c7567338-94e5-45e2-bc7c-ffbdbadcd1cf",
      "name": "Accedo al producto"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "nombre",
              "cssSelector": ".product_name"
            },
            {
              "key": "marca",
              "cssSelector": ".brand_centercolumn"
            },
            {
              "key": "descripcion_corta",
              "cssSelector": ".product-description"
            },
            {
              "key": "descripcion_larga",
              "cssSelector": ".info_content"
            },
            {
              "key": "pvp",
              "cssSelector": ".price_pvp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        432,
        0
      ],
      "id": "1456f461-3c97-4ad3-86b7-7efd4737f5d8",
      "name": "HTML"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-17T08:41:07.547Z",
      "createdAt": "2025-11-17T08:41:07.547Z",
      "role": "workflow:owner",
      "workflowId": "E48duLZjjKGT4vLY",
      "projectId": "vToiniJTimIrXduV"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-17T09:00:58.000Z",
  "versionId": "226184c6-80bb-4f4f-a019-8062d605f5f1"
}