workflows/[UDIA] Backup de Workflows.json
{
  "active": true,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-13T11:42:59.070Z",
  "id": "fAZL3f6b4NcOCihb",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[UDIA] Backup de Workflows",
  "nodes": [
    {
      "parameters": {},
      "id": "12e796fa-c270-47d5-97f3-7fd6c8385696",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1536,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "79409518-18dc-4f57-9322-1b81672b551f",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -704,
        240
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "10ef61e4-eb99-4816-bb32-d3da7ce0e821",
      "credentials": {
        "githubApi": {
          "id": "2hZ4T8EJNB4tzyBO",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "ca50be2a-2baa-4224-ab74-bf4370c4e762",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        -160,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "e8230a9b-f769-4169-aeea-07b5e97a1641",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "fed0a2d3-ce26-4ce6-a0ba-242e13468271",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        0,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "3e762b96-cf6d-44e1-a0c7-13e0c1a07dc0",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        0,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "4b969589-0a45-4abe-a13c-90cddaf8c400",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        160,
        320
      ],
      "typeVersion": 1,
      "webhookId": "d71565b4-092c-4b98-92a2-0cacb3b5b306",
      "credentials": {
        "githubApi": {
          "id": "2hZ4T8EJNB4tzyBO",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "2b53e7a2-9e11-41bb-bba3-6204a965de8c",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        160,
        560
      ],
      "typeVersion": 1,
      "webhookId": "3ce87142-91d7-4711-b6a9-d137b45a9c8a",
      "credentials": {
        "githubApi": {
          "id": "2hZ4T8EJNB4tzyBO",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 12
            }
          ]
        }
      },
      "id": "5e1e0d2e-b545-4c8f-b026-8730c154cca9",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -1536,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "a240ff7d-66ed-4582-967a-f4f2e226a766",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1168,
        352
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "WOY6DU4GpGo5U8k8",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "bbc3a09a-0f6b-42d2-adf5-1b0b0283f063",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        -320,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "961a51c9-c10f-43f3-8c61-ab9e15134232",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -464,
        352
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "etxaskop"
            },
            {
              "name": "repo.name",
              "value": "UDIA-N8N-Workflows"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "079bd134-1407-4003-aff9-a52bd142ba4a",
      "name": "Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        -1360,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "98dba6b5-c0f6-44d1-a842-7db6ba4f947b",
      "name": "Fin",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -816,
        128
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "77b2308d-e319-41ab-a587-f6db9064843a",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -960,
        352
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "createdAt": "2025-11-13T11:42:59.090Z",
      "updatedAt": "2025-11-13T11:42:59.090Z",
      "role": "workflow:owner",
      "workflowId": "fAZL3f6b4NcOCihb",
      "projectId": "vToiniJTimIrXduV"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-02T18:30:25.985Z",
      "updatedAt": "2025-11-02T18:30:25.985Z",
      "id": "0LCSIfnWV1L0KZSe",
      "name": "udia"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-13T12:26:20.000Z",
  "versionId": "5ab0da85-d3b8-44f2-a9b7-c245f9b81352"
}