workflows/[UDIA] Backup de workflows1.json
{
  "active": false,
  "connections": {
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Variables1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Variables1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        []
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables1": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-12T11:28:01.914Z",
  "id": "nJKoRqPeOVteJ4v0",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[UDIA] Backup de workflows1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        -208
      ],
      "id": "d6f5ad26-8255-4b93-944c-2bfd24f860db",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        64
      ],
      "id": "cba3ea06-b50c-4526-937a-8f37109150e6",
      "name": "Every 12 hours"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        928,
        -384
      ],
      "id": "e86cb8d2-576e-485c-9e84-66013366ff82",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "262e808c-da6e-4ad5-9648-77f85759584d",
              "name": "repo.owner",
              "value": "etxaskop",
              "type": "string"
            },
            {
              "id": "3d2a035c-c1dd-4e85-b3b8-b02a49bb6586",
              "name": "repo.name",
              "value": "UDIA-N8N-Workflows",
              "type": "string"
            },
            {
              "id": "e1cf3671-8f25-4e11-8540-f4d53ecadcfc",
              "name": "repo.path",
              "value": "workflows/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        64
      ],
      "id": "0b3216ae-a9c9-4c64-96e0-892026a98ed4",
      "name": "Variables"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        144,
        -64
      ],
      "id": "4f8e9066-80c5-4f1a-b466-19a498586c2c",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "WOY6DU4GpGo5U8k8",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        352,
        -64
      ],
      "id": "581fefa9-13a6-4d61-9bb3-2933200c3e96",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Fin",
      "typeVersion": 1,
      "position": [
        512,
        -336
      ],
      "id": "8d9aef3a-5255-4a5d-89ad-b95dc0576412"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1520,
        -48
      ],
      "id": "5e6ce6c1-54ad-407e-b8ec-45bc67e9a8cb"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        800,
        -64
      ],
      "id": "29f37dde-2f0c-42d3-9c23-55abe64d1b0d",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -64
      ],
      "id": "f358fe40-b997-4493-b523-efb2997cbca2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"github_status\"]}}",
                    "rightValue": "same",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dc93889e-649a-4b9a-9a66-6886012eb0e0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "146739f8-2107-4a93-9754-f6dbda164687",
                    "leftValue": "={{$json[\"github_status\"]}}",
                    "rightValue": "different",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1216,
        -64
      ],
      "id": "cbc1fc91-4742-466c-b7dd-3ddc48cd8444",
      "name": "Switch"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "etxaskop"
            },
            {
              "name": "repo.name",
              "value": "UDIA-N8N-Workflows"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "c39d8203-d901-40e7-b8aa-30bbf16b52c7",
      "name": "Variables1",
      "type": "n8n-nodes-base.set",
      "position": [
        -64,
        -240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "50774707-4859-4114-9510-264bc80a8303",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        608,
        -192
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "10ef61e4-eb99-4816-bb32-d3da7ce0e821",
      "credentials": {
        "githubApi": {
          "id": "2hZ4T8EJNB4tzyBO",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-12T11:28:01.921Z",
      "updatedAt": "2025-11-12T11:28:01.921Z",
      "role": "workflow:owner",
      "workflowId": "nJKoRqPeOVteJ4v0",
      "projectId": "vToiniJTimIrXduV"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-13T12:23:29.000Z",
  "versionId": "73c2c603-9977-4718-8fda-b2532b8088f5"
}