workflows/[UDIA] Todo sobre loops.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-13T12:27:31.575Z",
  "id": "4SAZx7VQtEHxAqr7",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[UDIA] Todo sobre loops",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        -16
      ],
      "id": "2d3bc000-78ad-45b6-9fb7-aa9de15268c6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        -16
      ],
      "id": "fd1c4db2-f001-4e6f-9602-0d232733abcc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "53108b43-01db-4194-9f3b-1cd64afbbcf2",
              "name": "titulo_modificado",
              "value": "=UDIA:{{$json.title}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        176
      ],
      "id": "5e2b0b23-60ab-41bf-b52f-80de151bef9a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://es.wired.com/feed/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -96,
        -16
      ],
      "id": "16756af7-b447-4142-b13e-869721ed051b",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1eHD70nPyB8AEHc9kHZWsuAdP52T7pU0YmHwyEQptltQ",
          "mode": "list",
          "cachedResultName": "[UDIA] Loops",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eHD70nPyB8AEHc9kHZWsuAdP52T7pU0YmHwyEQptltQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eHD70nPyB8AEHc9kHZWsuAdP52T7pU0YmHwyEQptltQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Titulo": "={{ $json.titulo_modificado }}",
            "Descripción": "={{ $('Loop Over Items').item.json.content }}",
            "Autor": "={{ $('Loop Over Items').item.json.creator }}",
            "fecha": "={{ $('Loop Over Items').item.json.isoDate }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Titulo",
              "displayName": "Titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descripción",
              "displayName": "Descripción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Autor",
              "displayName": "Autor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1088,
        208
      ],
      "id": "ea016418-a30f-4ce3-a224-7d59ad3853f9",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3krXJSCYRnCelQzf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7991924255",
        "text": "¡Loop completado!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        -160
      ],
      "id": "16f6c2aa-a24d-43f7-9005-9ab742807085",
      "name": "Send a text message",
      "webhookId": "443b3076-1dd1-459e-af9b-fe06c47071cb",
      "credentials": {
        "telegramApi": {
          "id": "L4gQSEkpsNL6Pjk5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f946337-4e32-4193-a16e-ff464ffe9d07",
              "leftValue": "={{ $json.creator }}",
              "rightValue": "Jorge Garay",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        112,
        -16
      ],
      "id": "583cb090-6219-4431-9fdd-190258141488",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        688,
        -96
      ],
      "id": "610447c2-7c73-4eea-ace9-a4e881648aaf",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-13T12:27:31.586Z",
      "updatedAt": "2025-11-13T12:27:31.586Z",
      "role": "workflow:owner",
      "workflowId": "4SAZx7VQtEHxAqr7",
      "projectId": "vToiniJTimIrXduV"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-02T18:30:25.985Z",
      "updatedAt": "2025-11-02T18:30:25.985Z",
      "id": "0LCSIfnWV1L0KZSe",
      "name": "udia"
    },
    {
      "createdAt": "2025-11-13T12:52:12.292Z",
      "updatedAt": "2025-11-13T12:52:12.292Z",
      "id": "2puCdsodN86aAWqh",
      "name": "rss"
    },
    {
      "createdAt": "2025-11-13T12:52:10.103Z",
      "updatedAt": "2025-11-13T12:52:10.103Z",
      "id": "RpAW1CVTGwQPDJlR",
      "name": "loop"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-13T13:01:52.000Z",
  "versionId": "ef9a7e02-2810-4a72-95cc-40cd2e7e628c"
}