workflows/[UDIA] Crear un RAG (archivador de datos de empresa para luego usar en AI Agent).json
{
  "active": false,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-06T16:44:54.392Z",
  "id": "AE7NoZf25Mx3pQ82",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[UDIA] Crear un RAG (archivador de datos de empresa para luego usar en AI Agent)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "17WaLSnKwhFWq-3QWf7wFuNKMJ_G4HOgk",
          "mode": "list",
          "cachedResultName": "RAG_UDIA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/17WaLSnKwhFWq-3QWf7wFuNKMJ_G4HOgk"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1ff9c341-3694-4e46-a1a3-1151dd993341",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C0lcjPhoiiuww7Id",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "abff276b-7687-4196-914c-47105331521f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C0lcjPhoiiuww7Id",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragudia",
          "mode": "list",
          "cachedResultName": "ragudia"
        },
        "options": {
          "pineconeNamespace": "ragudia"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        432,
        0
      ],
      "id": "640666cf-1f1a-42db-bd42-31d3a007b512",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "e4RyPD5IBgo5uLfc",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        208
      ],
      "id": "c53e6532-43bc-4989-908b-f3069e883097",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LOlbps8rbIEAqCO2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        496,
        400
      ],
      "id": "83d87a88-d28c-4304-be2f-bdd2c5c90b64",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        496,
        224
      ],
      "id": "4ad5f7ea-494c-425e-8733-883acb9261a7",
      "name": "Default Data Loader",
      "notesInFlow": false
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-06T16:44:54.397Z",
      "createdAt": "2025-11-06T16:44:54.397Z",
      "role": "workflow:owner",
      "workflowId": "AE7NoZf25Mx3pQ82",
      "projectId": "vToiniJTimIrXduV"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-02T18:30:25.985Z",
      "createdAt": "2025-11-02T18:30:25.985Z",
      "id": "0LCSIfnWV1L0KZSe",
      "name": "udia"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-10T10:52:56.000Z",
  "versionId": "346b8018-6f67-4e4f-a505-d0177aa8c014"
}