workflows/[UDIA] Agente de IA con memoria y tools.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-06T15:48:03.626Z",
  "id": "ZvaE7qq1GlYEL8nw",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[UDIA] Agente de IA con memoria y tools",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "22cd2532-aaa9-4021-8ddc-264725738eb2",
      "name": "When chat message received",
      "webhookId": "c4322c09-d988-4ba1-9f9c-fa31ad261c48"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hDWkVcAB02VBSJm7EWe9xeTPRzNO5HbxOOnwrmVXY_4/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hDWkVcAB02VBSJm7EWe9xeTPRzNO5HbxOOnwrmVXY_4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Busqueda": "={{ $json.chatInput }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Busqueda",
              "displayName": "Busqueda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respuesta",
              "displayName": "Respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "5281f0f1-7f42-4900-a1dd-eba4aae72d16",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3krXJSCYRnCelQzf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un asistente que me va a ayudar a buscar en Google con herramienta: API GOOGLE todas las url de la búsqueda que te pida por chat el usuario.\n\nSiempre contestaras únicamente el listado de nombres y url que venga de la herramienta API GOOGLE.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "518282f1-fa67-4cca-abcf-b626844a4d5c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        224
      ],
      "id": "a15452ae-29f8-4258-8978-2616ef8b4052",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "gBKFpVfdpSnzbXOL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        240
      ],
      "id": "5d76eb8e-80da-4808-835a-c67eb1c0f4c4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Esta tool busca en google los términos que indica el usuario.",
        "method": "POST",
        "url": "https://google-api31.p.rapidapi.com/websearch ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RapidAPI-Host",
              "value": "google-api31.p.rapidapi.com"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-rapidapi-key",
              "value": "ae13d639cfmsh8c77ab505385df5p1f9e12jsn2f64ba9f51cc"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"text\":\"{{ $fromAI(\"Busqueda\") }}\",\n\"safesearch\":\"off\",\n\"timelimit\":\"\",\n\"region\":\"es-es\",\n\"max_results\":5\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        544,
        224
      ],
      "id": "535c7bf9-fe58-4f9d-ab13-e9cef4b51018",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"resultados\": [\n    {\n      \"nombre\": \"Nombre de la web 1\",\n      \"url\": \"https://miweb1.com\"\n    },\n    {\n      \"nombre\": \"Nombre de la web 2\",\n      \"url\": \"https://miweb2.com\"\n    },\n    {\n      \"nombre\": \"Nombre de la web 3\",\n      \"url\": \"https://miweb3.com\"\n    }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        640,
        256
      ],
      "id": "357d72ee-1e9a-4d59-84dd-c2b7130729e5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hDWkVcAB02VBSJm7EWe9xeTPRzNO5HbxOOnwrmVXY_4/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hDWkVcAB02VBSJm7EWe9xeTPRzNO5HbxOOnwrmVXY_4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Busqueda": "={{ $('Append row in sheet').item.json.Busqueda }}",
            "Respuesta": "={{ $json.output.resultados }}"
          },
          "matchingColumns": [
            "Busqueda"
          ],
          "schema": [
            {
              "id": "Busqueda",
              "displayName": "Busqueda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Respuesta",
              "displayName": "Respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        0
      ],
      "id": "c7a8ff89-5cf0-4cd5-9123-b325935874f8",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3krXJSCYRnCelQzf",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-06T15:48:03.635Z",
      "updatedAt": "2025-11-06T15:48:03.635Z",
      "role": "workflow:owner",
      "workflowId": "ZvaE7qq1GlYEL8nw",
      "projectId": "vToiniJTimIrXduV"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-06T15:48:09.640Z",
      "updatedAt": "2025-11-06T15:48:09.640Z",
      "id": "I6qLXieYKm75w5RQ",
      "name": "agente de ia"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-06T16:44:24.000Z",
  "versionId": "76e95494-cb57-4204-95e7-e4d46895b4cc"
}