workflows/[UDIA] Chatbot con elevenlabs.json
{
  "active": true,
  "connections": {
    "Listen": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        []
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-17T09:10:52.266Z",
  "id": "1YqaUImhdc9h87rD",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[UDIA] Chatbot con elevenlabs",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fb12c08a-cedd-4007-8319-00a890063f87",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        0
      ],
      "id": "c700d634-5881-4684-b2d7-31584bd38b84",
      "name": "Listen",
      "webhookId": "fb12c08a-cedd-4007-8319-00a890063f87"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.pregunta }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "ca7cdf44-a0aa-45fb-be58-758a32517671",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        0
      ],
      "id": "ae6c281e-77a8-4b74-ae61-87ebe709de63",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        32,
        176
      ],
      "id": "97fccd6e-a116-4496-943e-fa065588c128",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "gBKFpVfdpSnzbXOL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Listen').item.json.headers['x-forwarded-host'] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        176
      ],
      "id": "f2165a10-bc56-4767-a872-8a7da6a2299d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        576
      ],
      "id": "40873656-3239-4c3f-b386-576c619c7339",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LOlbps8rbIEAqCO2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Trabaja con tu pinecone vector store donde tienes toda la información sobr Udia. Que es y lo que trabajan.\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        352,
        256
      ],
      "id": "831a3d62-759e-457f-bf59-af4142af13b7",
      "name": "Answer questions with a vector store",
      "rewireOutputLogTo": "ai_tool"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "ragudia",
          "mode": "list",
          "cachedResultName": "ragudia"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        192,
        416
      ],
      "id": "95055498-0b0b-47fc-8caa-37f966662c0e",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "e4RyPD5IBgo5uLfc",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        528,
        400
      ],
      "id": "505519c3-78ba-48d5-a166-e3eef39490ab",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LOlbps8rbIEAqCO2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Trabaja con tu pinecone vector store donde tienes toda la información sobr Udia.es y lo que trabajan.",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragudia",
          "mode": "list",
          "cachedResultName": "ragudia"
        },
        "options": {
          "pineconeNamespace": "ragudia"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        608,
        208
      ],
      "id": "12107de8-c536-4670-83c7-ae2288fbd956",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "e4RyPD5IBgo5uLfc",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        672,
        352
      ],
      "id": "55b9dc3e-0c89-42d2-82ef-00678a16bb44",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "LOlbps8rbIEAqCO2",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-17T09:10:52.276Z",
      "createdAt": "2025-11-17T09:10:52.276Z",
      "role": "workflow:owner",
      "workflowId": "1YqaUImhdc9h87rD",
      "projectId": "vToiniJTimIrXduV"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-19T08:00:25.000Z",
  "versionId": "492f4de8-f406-48e3-9cd1-e1262b87e1bf"
}